<li>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).user_name, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul data-conversation="<%= conversation.id %>">
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
        <%= text_area_tag :body, nil, {class: "form-control" , id: 'message_content'}%>
      </div>
    </div>
  </div>
</li>
