<div class="header-form">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag check_sentiments_admin_index_path, class: "form-inline", method: :get, remote: true do |f| %>
          <div class="form-group">
            <label for="email">User:</label>
            <%= select_tag :user, options_from_collection_for_select(User.all, "id", "user_name") %>
          </div>
          <div class="form-group">
            <label for="email">Start:</label>
            <%= text_field_tag :start_date, Date.today.strftime("%m/%d/%Y"), class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="email">End:</label>
            <%= text_field_tag :end_date, Date.today.strftime("%m/%d/%Y"), class: "form-control" %>
          </div>
          <button type="submit" class="btn btn-default">Analyze</button>
      <% end %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>
</div>

<div class="container">
  <div id="result" class="table-responsive">

  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#start_date, #end_date').datepicker();
  });
</script>
